.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}

.form__newTask {
    border-radius: 0;
    border: solid 2px #a1a1a1;
    height: 40px;
    padding: 10px;   
}

.form__button {
    background: teal;
    color: white;
    border: none;
    font-size: 20px;
    height: 40px;
    border-radius: 0;
    transition: 0.5s;
    text-align: center;
}

.form__button:hover {
    background: hsl(180, 100%, 30%);
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
    .form__button:hover {
        transform: scale(1);
    }
}
