.task {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 5px;
    border-bottom: solid 1px #eee;
}

.task__item--hidden {
    display: none;
    color: red;
}

.task__button--done {
    background: #8dc477;
    color: white;
    border: none;
    width:35px;
    height:35px;
}

.task__button--done:hover {
    font-weight: bold;
    cursor: pointer;
    background: #9edb86;
    transition: 1s; 
}

.task__button--remove {
    background: rgb(230, 113, 113);
    border: none;
    color: white;
    width:35px;
    height:35px;
}

.task__button--remove:hover{
    font-weight: bold;
    cursor: pointer;
    background: #ff7e7e;
    transition: 1s;
}

.task__decoration {
    text-decoration: line-through;
    color: #cecece;
    list-style: none;
}
